DirectoryIndex index.html index.htm index.php

# CONFIGURATION
Options All -Indexes

# ERROR DOCUMENTS
ErrorDocument 403 /lt/informacija/403.html
ErrorDocument 404 /lt/informacija/404.html
ErrorDocument 500 /lt/informacija/500.html

# REWRITE ENGINE
RewriteEngine on

# start page
RewriteRule ^/$ /index.php?action=startPage&%{QUERY_STRING} [NC]
RewriteRule ^/index.html$ /index.php?action=startPage&%{QUERY_STRING} [NC]

#RewriteRule ^([a-z]{0,2})/$ /index.php?action=startPage&url=/$1/&%{QUERY_STRING} [NC]
RewriteRule ^([a-z]{0,2})/index.html$ /index.php?action=startPage&url=/$1/&%{QUERY_STRING} [NC]

# directories
RewriteRule ^([a-z]{0,2})/([a-z0-9\/\_\-]+)/$ /index.php?action=cmsContent&url=/$1/$2/&%{QUERY_STRING} [NC]

# pages
RewriteRule ^([a-z]{0,2})/([a-z0-9\/\_\-]+)\.html$ /index.php?action=cmsContent&url=/$1/$2.html&%{QUERY_STRING} [NC]

#redirect pages
#Redirect 301 /nauji.xml http://www.juozukas.lt/index.php
#Redirect 301 /view.php http://www.juozukas.lt/index.php
#Redirect 301 /auto.html http://www.juozukas.lt/index.php
#Redirect 301 /index.html http://www.juozukas.lt/index.php
#Redirect 301 /namams.html http://www.juozukas.lt/index.php
#Redirect 301 /patarimai.html http://www.juozukas.lt/index.php
#Redirect 301 /paslaugos.html http://www.juozukas.lt/index.php
#Redirect 301 /dzemperiai.html http://www.juozukas.lt/index/php
#Redirect 301 /kur.html http://www.juozukas.lt/lt/kontaktai/
#Redirect 301 /kontaktai.html http://www.juozukas.lt/lt/kontaktai/

#Redirect 301 /lt/naujienos http://www.juozukas.lt/lt/naujienos/
#Redirect 301 /lt/uzsakymas http://www.juozukas.lt/index.php
#Redirect 301 /duk.html http://www.juozukas.lt/lt/pagalba/
#Redirect 301 /lt/pagalba http://www.juozukas.lt/lt/pagalba/

Redirect 301 /marsk_regent.html http://www.juozukas.lt/lt/produktai/vyriski-marskineliai/?showall=1
Redirect 301 /marsk_mrg_be.html http://www.juozukas.lt/lt/produktai/moteriski-marskineliai/?showall=1
Redirect 301 /blog http://www.juozukas.lt/index.php
Redirect 301 /marsk_mrg_gili.html http://www.juozukas.lt/lt/produktai/moteriski-marskineliai/marskineliai-gilia-iskirpte/
Redirect 301 /marsk_vk.html http://www.juozukas.lt/lt/produktai/vyriski-marskineliai/klasikiniai-marskineliai/?showall=1
Redirect 301 /vaikinams.html http://www.juozukas.lt/lt/produktai/vyriski-marskineliai/klasikiniai-marskineliai/?showall=1
Redirect 301 /marsk_vk_be.html http://juozukas.lt/lt/produktai/vyriski-marskineliai/?showall=1
Redirect 301 /marsk_melrose.html http://juozukas.lt/lt/produktai/moteriski-marskineliai/?showall=1
Redirect 301 /merginoms.html http://juozukas.lt/lt/produktai/moteriski-marskineliai/?showall=1
Redirect 301 /marsk_mojito.html http://juozukas.lt/lt/produktai/vyriski-marskineliai/?showall=1
Redirect 301 /marsk_mrg.html http://juozukas.lt/lt/produktai/moteriski-marskineliai/?showall=1
Redirect 301 /marsk_vk_ilg.html http://juozukas.lt/lt/produktai/vyriski-marskineliai/?showall=1
Redirect 301 /marsk_coconut.html http://juozukas.lt/lt/produktai/moteriski-marskineliai/?showall=1
Redirect 301 /marsk_miss.html http://juozukas.lt/lt/produktai/moteriski-marskineliai/?showall=1
Redirect 301 /lt/produktai/vyriski-marskineliai http://www.juozukas.lt/lt/produktai/vyriski-marskineliai/
Redirect 301 /lt/produktai/moteriski-marskineliai http://www.juozukas.lt/lt/produktai/moteriski-marskineliai/

#miscellaneous
Redirect 301 /11.php http://www.juozukas.lt/index.php
Redirect 301 /adodb.class.php http://www.juozukas.lt/index.php
Redirect 301 /admin.php http://www.juozukas.lt/index.php
Redirect 301 /admin/index.php http://www.juozukas.lt/index.php
Redirect 301 /admin/fckeditor/editor/filemanager/connectors/asp/connector.asp http://www.juozukas.lt/index.php
Redirect 301 /admin/fckeditor/editor/filemanager/upload/php/upload.php http://www.juozukas.lt/index.php
Redirect 301 /admin-ajax.php http://www.juozukas.lt/index.php
Redirect 301 /administrator/ http://www.juozukas.lt/index.php
Redirect 301 /blogs/wp-login.php http://www.juozukas.lt/index.php
Redirect 301 /cache.php http://www.juozukas.lt/index.php
Redirect 301 /cfiles.php http://www.juozukas.lt/index.php
Redirect 301 /CHANGELOG.php http://www.juozukas.lt/index.php
Redirect 301 /conns.php http://www.juozukas.lt/index.php
Redirect 301 /configuration.php http://www.juozukas.lt/index.php
Redirect 301 /configurationbak.php http://www.juozukas.lt/index.php
Redirect 301 /configbak.php http://www.juozukas.lt/index.php
Redirect 301 /cms/wp-login.php http://www.juozukas.lt/index.php

#images and other documents
Redirect 301 /image/175x175/MC114.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MC134.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MC145.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MC153.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MC154.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MC155.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MC156.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MC320.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MC321.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MC322.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MC323.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MC450.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MC451.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MC452.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MC453.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MM322.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MW360.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MW361.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MW362.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MW363.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MW380.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MW390.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MW433.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MW433.png http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MW460.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MW461.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MW462.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MW463.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MW470.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MW471.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MW472.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MW473.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/M292.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MM321.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MM323.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/MM324.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/VR182.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/coconut_175.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/borat_coconut.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/miss_175.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/175x175/melrose_175.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/135x135/melrose_raudona.jpg http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/135x135/melrose_juoda.jpg http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/135x135/melrose_balta.jpg http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/260x300/VR560.png http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/260x300/marskineliai_C271.gif http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /image/640x580/VR500.png http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png

Redirect 301 /media/dynamic/584_regular_2_vr810.png 		http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png

Redirect 301 /media/dynamic/img/371/304_regular_2_mw192.png http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /media/dynamic/img/415/348_regular_2_vr452.png http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /media/dynamic/img/440/373_regular_2_vr310.png http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /media/dynamic/img/474/415_regular_2_vr630.png http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /media/dynamic/img/504/454_regular_2_mw630.png http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /media/dynamic/img/510/459_regular_2_vr690.png http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /media/dynamic/img/515/466_regular_2_mw670.png http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /media/dynamic/img/530/486_regular_2_vr710.png http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /media/dynamic/img/541/500_regular_2_vr730.png http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /media/dynamic/img/571/530_regular_2_mw740.png http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /media/dynamic/img/572/531_regular_2_mw730.png http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /media/dynamic/img/584_regular_2_vr810.png 	http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /media/dynamic/img/590/549_regular_2_mm270.png http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /media/dynamic/img/601/566_regular_2_mw790.png http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /media/dynamic/img/611/583_regular_2_vr130.png http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /media/dynamic/img/612/584_regular_2_vr810.png http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /media/dynamic/img/623/600_regular_2_mw840.png http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /media/dynamic/img/628/605_regular_2_vr860.png http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
Redirect 301 /media/dynamic/img/640/623_regular_2_mc270.png http://juozukas.lt/media/dynamic/img/607/570_regular_2_mw194.png
